<%= render partial: 'common/alert' %>

<h1><%= t('view.page_title.new', { resource: t('activerecord.models.reservation') }) %></h1>

<div>
  <%= link_to t('view.app.back'), reservations_path, { class: 'hollow button primary small' } %>
</div>

<%= render 'form', reservation: @reservation %>
