.container-main {
  padding: 12px;
}

h1 {
  font-size: 18pt;
}

#alert {
  color: #cc0000;
}

/* バリデーションエラーのある入力項目の背景色をリセット */
.field_with_errors {
  display: block;
  background-color: transparent;
}

/* バリデーションエラーのある入力項目の罫線 */
.field_with_errors input[type=text],
.field_with_errors select,
.field_with_errors textarea {
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #cc3333;
}

.property-table {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #cccccc;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cccccc;
  margin-bottom: 20px;
}

.property-table .cell {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #cccccc;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  padding: 4px;
}

.property-table .cell.header {
  background-color: #f8f8f8;
}

fieldset select {
  width: auto;
}

fieldset ul {
  list-style-type: none;
  margin-left: 0px;
}
